<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <th:block th:include="bootstrap/css.html"/>
        <title>E-A-S</title>
    </head>
    <body class="bg">
        <th:block th:include="header/headerTitle.html"/>
        <br/><br/>
        <div class="card text-white text-center bg-dark" style="max-width: 80rem; margin-left: 20rem">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <div sec:authorize="hasAnyRole('ORGANIZER','ADMIN')">
                            <a class="nav-link active btn-dark"
                               th:href="@{/organizer/showFormForUpdate(eventId=${event.id})}">Update</a>
                        </div>
                    </li>
                    <li>  </li>
                    <li class="nav-item">
                        <div sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link active btn-dark" th:href="@{/admin/delete(eventId=${event.id})}"
                               onclick="if (!(confirm('Are you sure you want to delete this event?'))) return false">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-header bg-danger" th:text="${event.title}"/>
                <h6 class="card-title">Start: <span th:text="${event.startDate}"/><br/>
                    End: <span th:text="${event.endDate}"/>
                </h6>
                <p class="card-text" th:text="${event.description}"/>
            </div>

            <br/><br/>
            <div align="left">
                <h6 class="card-title">Participants:
                </h6>
                <th:block th:each="tempUser : ${users}">
                    <div class="card-text" th:text="${tempUser.name}"><br/></div>
                </th:block>
                <td th:switch="${listStatus.status}">
                    <span th:case="'not in'">
                        <form action="/addUserToList" th:object="${listStatus}" method="post">
	                        <input type="hidden" th:field="*{status}"/>
	                        <input type="hidden" th:field="*{eventId}"/>
	                        <input type="submit" value="Add Me"/>
                        </form>
                    </span>
                    <span th:case="'in'">
                        <form action="/addUserToList" th:object="${listStatus}" method="post">
	                        <input type="hidden" th:field="*{status}"/>
	                        <input type="hidden" th:field="*{eventId}"/>
	                        <input type="submit" value="Remove Me"/>
                        </form>
                    </span>
                        <span th:case="'adam'">
                        <label><h3>'adam' jest adminem testowym i nie ma mozliwosci zapisu na wydarzenie</h3></label>
                    </span>
                </td>
            </div>
        </div>
        <br/>

        <form th:action="@{/user/saveComment}" th:object="${comment}" method="post">
            <input type="hidden" th:field="*{eventId}">
            <div style="max-width: 80rem; margin-left: 20rem">
                <div class="form-group bg-dark text-white">

                    <label>Comment:</label>
                    <div th:classappend="${#fields.hasErrors('content')} ? 'has-error':''">
                    <textarea class="form-control bg-dark text-white" rows="3" th:field="*{content}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('content')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <input class="btn text-white btn-dark active" type="submit" value="Submit"/>
                </div>
            </div>
            </div>
        </form>

        <th:block th:each="tempComment : ${#numbers.sequence(event.comments.size()-1, 0, -1)}">

            <div class="media text-white bg-dark" style="max-width: 80rem; margin-left: 20rem">
                <img style="margin-left: 2rem; margin-top: 2rem"
                     src="https://forum.psnprofiles.com/uploads/monthly_2018_10/image.thumb.jpg.62b637eed8103fc4fe1e8480a9e30838.jpg"
                     class="mr-3" alt="avatar"
                     height="64" width="64">
                <div class="media-body">
                    <h4>
                        ------------------------------------------------------------------------------------------------------------------------</h4>
                    <h5 class="mt-0" th:text="${(event.comments[tempComment].person)}"></h5>
                    <div align="right" style="margin-right: 2rem"><i th:align="right" th:text="${event.comments[tempComment].date}"/>
                    </div>
                    <p th:text="${event.comments[tempComment].content}"/>
                </div>
            </div>
        </th:block>

        <th:block th:include="bootstrap/js.html"/>
    </body>
</html>