<div xmlns:sec="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <p style="margin-right: 2rem" align="right">
<span sec:authorize="isAnonymous()">
    <a href="/login" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Login</a>
    <a href="/registration" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Register</a>
    <a sec:authorize="hasRole('ADMIN')" href="/registration" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Register new Admin</a>
</span>
        <a sec:authorize="hasRole('ADMIN')" href="/registration" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Register new Admin</a>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/user/showPersonForm(personEmail=${#authentication.name})}"
               class="btn btn-light btn-lg active"
               role="button"><span sec:authentication="name"></span></a>
            <a th:href="@{/logout}" class="btn btn-light btn-lg active" role="button">Logout</a>
        </span>
    </p>
    <div style="margin-left: 1rem; margin-right: 1rem;"
         class="card bg-danger text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <a href="/" class="btn active btn-danger"><h2>Events Aggregation Service</h2></a>
        </blockquote>
    </div>
    <style>
        .bg {
            background-image: url('https://i.pinimg.com/originals/30/1a/da/301ada0d3b5aa1d18e42a411748dbf55.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</div>